#b3Mediabox {
    .modal-dialog {
        max-width: calc(100vw - 2rem);
    }

    .modal-content {
        overflow: hidden;
    }

    .modal-body {
        padding: 0;

        p {
            margin-bottom: 0;

            &:not(:first-child) {
                margin-top: 10px;
            }

            img {
                max-width: 100%;
                height: auto;
                vertical-align: top;
            }
        }
    }

    button.close {
        position: absolute;
        right: 0;
        z-index: 1;
        border-radius: 3px;
        width: 21px;
        height: 21px;
        overflow: hidden;
        font-weight: 400;
        font-family: sans-serif;
        background-color: #fff;
    }
}

body.modal-open {
    @media (max-width: 991.98px) {
        padding-right: 0 !important;
        overflow: visible;
    }
}
