#b3Mediabox .modal-dialog {
  max-width: calc(100vw - 20px); }

#b3Mediabox .modal-content {
  overflow: hidden; }

#b3Mediabox .modal-body p {
  margin-bottom: 0; }
  #b3Mediabox .modal-body p:not(:first-child) {
    margin-top: 10px; }
  #b3Mediabox .modal-body p img {
    max-width: 100%;
    height: auto; }

#b3Mediabox button.close {
  position: absolute;
  right: 0;
  z-index: 1;
  border-radius: 3px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  font-weight: 400;
  font-family: sans-serif;
  background-color: #fff; }

@media (max-width: 991px) {
  body.modal-open {
    padding-right: 0 !important;
    overflow: visible; } }

body.modal-open .modal {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center; }
