#b3Mediabox {
    &.modal {
        --bs-modal-margin: 0.5rem auto;
        --bs-modal-padding: 0;

        @media (min-width: 576px) {
            --bs-modal-margin: 1.75rem auto;
        }
    }

    .modal-dialog {
        width: min(calc(100vw - 2rem), var(--bs-modal-width));
    }

    .modal-content {
        overflow: hidden;
    }

    .modal-body {
        p {
            margin-bottom: 0;

            &:not(:first-child) {
                margin-top: 10px;
            }

            img {
                max-width: 100%;
                height: auto;
                vertical-align: top;
            }
        }
    }

    button.close {
        position: absolute;
        right: 0;
        z-index: 1;
        margin-top: 5px;
        margin-right: 5px;
        border-radius: 3px;
        width: 21px;
        height: 21px;
        overflow: hidden;
        font-weight: 400;
        font-family: sans-serif;
        background-color: #fff;
    }
}

body.modal-open {
    @media (max-width: 991.98px) {
        padding-right: 0 !important;
        overflow: visible;
    }
}
